/* src/assets/styles/index.css */
/* @import '@material-icons/iconfont/material-icons.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #1970b7;
    --green: #30a852;
  }

  .check-campaign{
  min-width: 15px;
}